body,
html {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}

.content {
    position: relative;
}

.colors {
    position: absolute;
    top: 5px;
    padding: 10px;
}

#color1 {
    width: 30px;
    height: 30px;
    background-color: red;
    border: 0px;
    border-radius: 50%;
    outline: none;
}

#color2 {
    width: 30px;
    height: 30px;
    background-color: green;
    border: 0px;
    border-radius: 50%;
    outline: none;
}

#color3 {
    width: 30px;
    height: 30px;
    background-color: blue;
    border: 0px;
    border-radius: 50%;
    outline: none;
}

#color4 {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border: 0px;
    border-radius: 50%;
    outline: none;
}

#color5 {
    width: 30px;
    height: 30px;
    background-color: black;
    border: 0px;
    border-radius: 50%;
    outline: none;
}